
<div class="container" ng-init="initFirst()">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Post ID</th>
                <th>Question</th>
                <th>Submitter</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="post in posts" ng-if="post.IsAnswered == false">

                <td>{{post.PostId}}</td>
                <td>{{post.Question}}</td>
                <td>{{post.UserEmail}}</td>
                <td>{{post.TimeStamp}}</td>


            </tr>
        </tbody>

    </table>

    <div>
        <form novalidate>
            Id: <input type="text" ng-model="post.PostId" /><br />
            Answer: <input type="text" ng-model="post.Answer" /><br />
            <input type="submit" ng-click="updatePost(post)" value="Save" />
        </form>
    </div>
</div>