
<div class="container" ng-init="initFirst()">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Post ID</th>
                <th>Question</th>
                <th>Submitter</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="post in posts" ng-if="post.IsAnswered == false">

                <td>{{post.PostId}}</td>
                <td>{{post.Question}}</td>
                <td>{{post.UserEmail}}</td>
                <td>{{post.TimeStamp}}</td>


            </tr>
        </tbody>

    </table>

    <div class="col-md-12 zeropad">
        <div class="well well-sm">
            <form class="form-horizontal" name="FormAnswer">
                <fieldset>

                    <legend class="text-center header"><h3 class="featurette-heading">Above you see a list of unanswered questions. Submit answers here!:</h3></legend>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            <input type="number" name="ID" placeholder="Post ID" class="form-control" ng-model="post.PostId" required>
                        
                            <div ng-messages="FormAnswer.ID.$error" role="alert">
                                <div ng-message="required" style="color:orchid">ID is required!</div>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            <textarea class="form-control" placeholder="Submit your answer here!" rows="7" style="resize: none;" ng-model="post.Answer" name="Answer" required></textarea>
                        
                            <div ng-messages="FormAnswer.Answer.$error" role="alert">
                                <div ng-message="required" style="color:orchid">Answer is required!</div>
                            </div>    
                        
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="button" class="btn btn-primary btn-lg" ng-click="updatePost(post)" value="Submit" />
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>