
<div class="container" ng-init="initFirst()">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Post ID</th>
                <th>Question</th>
                <th>Submitter</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="post in posts" ng-if="post.IsAnswered == false">

                <td>{{post.PostId}}</td>
                <td>{{post.Question}}</td>
                <td>{{post.UserEmail}}</td>
                <td>{{post.TimeStamp}}</td>


            </tr>
        </tbody>

    </table>

    <div>
        <form novalidate class="simple-form">
            Id: <input type="text" ng-model="post.PostId" /><br />
            Answer: <input type="text" ng-model="post.Answer" /><br />
            <input type="submit" ng-click="updatePost(post)" value="Save" />
        </form>
    </div>

    <!--<div class="row">

        <div class="col-md-6 col-md-offset-3">

            <form class="form-group" ng-submit="updatePost()">
                <label for="message" class="h4 ">Message</label>
                <input class="form-control" placeholder="0" type="number" required ng-model="controller.PostId" />
                <textarea id="message" class="form-control" rows="3" placeholder="Enter your message" required ng-model="controller.Answer"></textarea>
                <button type="submit" id="form-submit" class="btn btn-success btn-lg pull-right ">Submit</button>
            </form>

        </div>
    </div>-->

</div>