<!-- contact.html -->
<div class="container" ng-init="initFirst()"> 

    <label class="radio-inline"><input name="sorter" type="radio" ng-model="value" value="newest" ng-change='sortList(value)'>Newest (most relevant)</label>
    <label class="radio-inline"><input name="sorter" type="radio" ng-model="value" value="Shipping" ng-change='sortList(value)'>Shipping</label>
    <label class="radio-inline"><input name="sorter" type="radio" ng-model="value" value="Pricing" ng-change='sortList(value)'>Pricing</label>
    <label class="radio-inline"><input name="sorter" type="radio" ng-model="value" value="Tea Selection" ng-change='sortList(value)'>Tea Selection</label>

        <div ng-repeat="post in posts"> <!--xng-if="post.IsAnswered == true"> -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{post.Question}}</h4>
                    </div>
                    <div class="panel-body">
                        <p>{{post.Answer}}</p>
                        <a class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span>See Details</a>
                    </div>
                </div>
            </div>
        </div>
</div>

