<div class="container" ng-init="getSpecificPost()">

    <hr />

    <div ng-if="(id) <= posts.length">

        <div ng-repeat="post in posts" ng-if="post.PostId == id">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Some extra info regarding the question: </h4>
                        <h4>{{post.Question}}</h4>
                    </div>
                    <div class="panel-body">
                        <p>{{post.Answer}}</p>
                        <p>Submittet by: {{post.UserEmail}}</p>
                        <p>Answered at: {{post.TimeStamp}}</p>
                        <a href="#/"><i class="fa fa-home"></i>GO HOME!</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div ng-if="(id) > posts.length">
        dis id not here
    </div>

    </div>