
<div class="row" ng-controller="postController">

    <div class="col-md-6 col-md-offset-3">

        <div class="form-group">
            <label for="message" class="h4 ">Message</label>
            <textarea id="message" class="form-control" rows="3" placeholder="Enter your message" required name="Question" ng-model="Question"></textarea>
        </div>
        <button type="submit" id="form-submit" class="btn btn-success btn-lg pull-right " ng-click="addPost()">Submit</button>
        <div id="msgSubmit" class="h3 text-center hidden">Message Submitted!</div>
    
    </div>
</div>