
<div class="row">

    <div class="col-md-6 col-md-offset-3">

        <div class="form-group">
            <label for="message" class="h4 ">Message</label>
            <textarea id="message" class="form-control" rows="3" placeholder="Enter your message" required ng-model="Question"></textarea>

            <select class="form-control"  ng-model="Category">
                <option value="Shipping">Shipping</option>
                <option value="Pricing" >Pricing</option>
                <option value="Tea Help" >Tea Help</option>
                <option value="Other">Other</option>
            </select>
            <button type="submit" id="form-submit" class="btn btn-success btn-lg pull-right " ng-click="addPost()">Submit</button>
        </div>
    
    </div>
</div>